body {
	font-family: sans-serif;
}

nav {
	background-color: #39f;
}
nav ul {
	list-style: none;
	padding: 0;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	display: block;
	padding: 0.5em 1em;
	color: #f8f8f8;
	text-decoration: none;
}
nav ul li a:hover {
	background: rgba(255, 255, 255, 0.2);
}